.login form , .signup form {
  padding: 20px;
}

.login form .form-control , .signup form .form-control {
  margin: 0 auto;
  background: none;
  padding: 2px 10px;
  margin-top: 10px;
  border:none;
  border-left: 3px solid #a9c52f;
  box-shadow: 2px 2px 4px #eee;
  border-radius: 0;
  width: 85%;
}

.login, .signup {
  margin-top: 100px;;
  box-shadow: 3px 5px 8px #ccc;
  padding: 0;
}

.login .top , .signup .top {
  padding: 25px 0;
  background: #A9C52F;
  color: #fff;
}

.login .top p , .signup .top p {
  font-family: Arial;
  margin: 0;
  padding-top: 10px;
  font-size: 22px;
  letter-spacing: 2px;
  text-transform: uppercase;
}

.radio input {
  display: none;
}
.radio label input + span {
  width: 13px;
  height: 13px;
  background: #fff;
  border: 3px solid #ccc;
  border-radius: 100%;
  display: inline-block;
  transform: translate(-3px, 1.5px);
}

.radio label input:checked + span {
 border-color:#a9c52f;
}

.bottom p {
  text-align: left;
  color: #ccc;
  font-weight: bold;
  margin-top: 10px;
}
.show-signup, .show-login {
  position: absolute;
  right: 20px;
  cursor: pointer;
}

button.submit {
  background: none;
  border:none;
  color: #a9c52f;
  text-transform: uppercase;
  letter-spacing: 2px;
  padding: 8px 20px;
  font-weight: bold;
  box-shadow: 1px 1px 2px  #ccc;
}
